  #profileImage {
      clip-path: ellipse(98px 98px);
      height: 100%;
  }

  @media (max-width: 426px) {
      .fakeSpace {
          height: 26vh;
      }

      #profileImage {
          position: absolute;
          bottom: 25vh;
          left: 4.5vh;
          clip-path: ellipse(105px 140px);
      }
  }

  @media (max-width: 376px) {
      .fakeSpace {
          height: 26vh;
      }

      #profileImage {
          position: absolute;
          bottom: 25vh;
          left: 3vh;
          clip-path: ellipse(105px 140px);
      }
  }

  @media (max-width: 320px) {
      .fakeSpace {
          height: 26vh;
      }

      #profileImage {
          position: absolute;
          bottom: 25vh;
          left: .4vh;
          clip-path: ellipse(105px 140px);
      }
  }

  #shortprofileImage {
      border-radius: 10px;
      margin-top: 15%;
      height: 80%;
      width: 100%;
  }


  .availability-element {
      color: var(--text, #000);
      font-size: 20px;
      font-family: Inter;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
  }

  .services-element {
      display: inline-flex !important;
      min-width: fit-content;
      padding-right: 10px;
  }

  .hero-username {
      text-align: center;
      color: var(--box-title, #232323);
      font-size: 40px;
      font-family: Noto Sans Javanese;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }