  #profileImagePC {
      clip-path: ellipse(98px 98px);
      height: 100%;
  }

  #profileImagePhone {
      clip-path: ellipse(30% 50%);
      height: 10%;
      position: relative;
      margin: 10px 0;
  }

  @media (max-width: 427px) {
      #profileImagePC {
          display: none;
      }
  }

  @media (min-width: 427px) {
      #profileImagePhone {
          display: none;
      }
  }

  @media (max-width: 426px) {
      .fakeSpace {
          height: 26vh;
      }

      #profileImage {
          position: absolute;
          bottom: 25vh;
          left: 4.5vh;
          clip-path: ellipse(105px 140px);
      }
  }

  @media (max-width: 376px) {
      .fakeSpace {
          height: 26vh;
      }

      #profileImage {
          position: absolute;
          bottom: 25vh;
          left: 3vh;
          clip-path: ellipse(105px 140px);
      }
  }

  @media (max-width: 320px) {
      .fakeSpace {
          height: 26vh;
      }

      #profileImage {
          position: absolute;
          bottom: 25vh;
          left: .4vh;
          clip-path: ellipse(105px 140px);
      }
  }

  .availability-element {
      color: var(--text, #000);
      font-size: 20px;
      font-family: Share Tech;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }

  .services-element {
      display: inline-flex !important;
      min-width: fit-content;
      padding-right: 10px;
      font-family: Share Tech;
      font-size: 20px;
      font-weight: 400;
  }

  .hero-username {
      text-align: center;
      color: var(--box-title, #232323);
      font-size: 40px;
      font-family: Noto Sans Javanese;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }

  .about-me {
      color: blue;
  }