.section-title {
    color: var(--box-title, #232323);
    font-size: 30px;
    font-family: Kantumruy;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-text {
    color: var(--text, #000);
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.card {
    background-color: #FFF;
    color: #C0C0C0;
    border-radius: 10px;
    margin: 0 1% 2% 1%;
    padding: 1%;
}